label {
    font-weight: 700;
}

input + label {
    margin-left: 3px;
}

input[type=file] {
    all: unset;
    background: var(--gradient) !important;
    border-radius: var(--s);
    display: block;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    padding: unset !important;
}

::file-selector-button {
    background-color: unset;
    border: unset;
    color: var(--foreground);
    cursor: pointer;
    fill: var(--foreground);
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
    margin: 3px;
}

*|::-moz-button-content {
    all: unset !important;
}

button {
    cursor: pointer !important;
    display: block !important;
    margin-left: auto !important;
    margin-top: var(--s);
}

.alert button {
    border-color: #ff6347 !important;
    cursor: pointer !important;
    margin-top: unset !important;
}

button, label {
    color: currentColor;
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
}

select::-ms-expand {
    display: none;
}

button, input, select, textarea {
    font-size: inherit;
    border: 1px solid var(--border) !important;
    border-radius: var(--s);
    max-width: border-box;
    overflow: hidden;
    padding: 6px 8px;
    width: auto;
}

button, select, textarea {
    background: var(--gradient) !important;
}

button, input {
    background: var(--gradient) !important;
}

input[type=radio],
input[type=checkbox] {
    background: initial;
}

select {
    background-repeat: no-repeat;
    border-radius: var(--s);
    cursor: pointer;
    max-width: 100%;
}

select[multiple] {
    height: 20rem;
    overflow-y: scroll;
}

button:focus, button:hover, input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
    box-shadow: var(--shadow-inset-accent);
}

input[type=color] {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: var(--xxl);
    width: var(--xxl);
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: var(--s);
}

input[type=color]::-moz-color-swatch {
    border: none;
    border-radius: var(--s);
}

input[type=checkbox]:focus,
input[type=checkbox]:hover {
    outline: 2px solid var(--accent);
}

input[type=checkbox]
{
    accent-color: var(--accent);
}