{% for tab in tabs %}
    <li>
        <a href="{{ tab.url }}" title="{{ tab.active ? ('Hide ' ~ tab['icon']) : ('Show ' ~ tab['icon']) | trans }}">
            {{ tab['icon'] }}
            <span class="icon {{ tab.active ? 'icon-eye-opened' : 'icon-eye-closed' }}"></span>
        </a>
    </li>
{% endfor %}
