<section class="frame-section">
    <details class="section-details-title" title="Expand if you want to access more options.">
        <summary class="details-summary-title">
            <span>Web Monetization</span>
        </summary>
        <section class="section-form">
            {{ form(the_form) }}
        </section>
    </details>
</section>

