{% import '/cards/macros/note.html.twig' as noteView %}

{# Backwards compatibility with hAtom 0.1 #}
{% if pinnednotes is not empty %}
    <main class="feed pinned" tabindex="0" role="feed">
        <h1>Pinned Notes</h1>
        <div class="h-feed hfeed notes">
            {% for conversation in pinnednotes %}
                {% block current_note %}
                    {% if conversation is instanceof('array') %}
                        {{ noteView.note_vanilla(conversation['note'], conversation['replies']) }}
                    {% else %}
                        {{ noteView.note_vanilla(conversation) }}
                    {% endif %}
                    <hr tabindex="0" title="{{ 'End of note and replies.' | trans }}">
                {% endblock current_note %}
            {% endfor %}
        </div>
    </main>
{% endif %}
