{% import '/cards/macros/note.html.twig' as noteView %}

<section class="frame-section frame-section-padding">
    <div class="section-title">
        <span class="heading-no-margin">
            {{ 'Notes related' | trans }}
        </span>
    </div>

    {% for note in related_notes %}
        {{ noteView.note_compact(note) }}
    {% endfor %}
</section>