{% extends 'stdgrid.html.twig' %}
{% import '/cards/macros/note/factory.html.twig' as NoteFactory %}

{% block title %}{{ note.getActorNickname() ~ '\'s note' | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/default_theme/feeds.css') }}" type="text/css">
{% endblock stylesheets %}

{% block body %}
    {# Backwards compatibility with hAtom 0.1 #}
    <main class="feed" tabindex="0" role="feed">
        <div class="h-feed hfeed notes">
            {% if note is defined and note is not empty %}
                {% set args = { 'type': 'vanilla_full', 'note': note, 'extra': { 'depth': 0 } } %}
                {{ NoteFactory.constructor(args) }}
            {% else %}
                <div id="empty-notes"><h1>{% trans %}No notes here.{% endtrans %}</h1></div>
            {% endif %}
        </div>
    </main>
{% endblock body %}
