<details class="frame-section section-details-title">
    <summary class="details-summary-title">
        <strong>
            {% trans %}Create a group{% endtrans %}
        </strong>
    </summary>
    <form method="GET" class="section-form">
        {{ form(create_form) }}
    </form>
</details>