{% if actor_tags is not empty %}
<section class="frame-section frame-section-padding">
  <span class="section-title">Related tags</span>
  {% for at in actor_tags %}
    {% include 'cards/blocks/tag_actor.html.twig' with { 'tag': at, 'actor': null } %}
  {% endfor %}
</section>
{% endif %}

